<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
</head>
<body>
<div class="container">

<h1>
Employee Management System
</h1>

<h2>Save Employee</h2>

<form action ="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
	<input type="text" th:field = "*{name}" placeholder = "Employee First Name">
	
	<input type="text" th:field = "*{email}" placeholder = "Employee email">
	
	<input type="text" th:field = "*{password}" placeholder = "Employee password">
	
	<button type="submit"> Save Employee</button>
</form>
</div>

</body>
</html>