@charset "ISO-8859-1";
container text-center my-5 {
    background-color: whitesmoke;
}

.buttonuno{
    padding-top: 25px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
    
}

body{
    background-color: bisque;
}

.bg-warning text-dark bg-opacity-10{
    background-color: beige;
}